#bck-home{
    background-image : url("./main-page-imgs/main-page-desktop.png");
}

.events {
  width : 100%;
  /* height : 20vh; */
  height : fit-content;
  background-color : blue;
  display : flex;
  align-items : center;
  justify-items : center;
  a {
    color : white;
  }
}

.events > a {
    font-size : clamp(1rem,5vw,2rem);
    margin : auto;
    text-align : center;
    padding : 40px;
}

#kuvia {
    background-image : url("./main-page-imgs/kuvia-banner.png")
}

#snowball {
    background-image: url("./main-page-imgs/snowball-banner.png")
}

#bnr {
    background-image: url("./main-page-imgs/bnr-banner.png")
}

#sb {
    background-image: url("./main-page-imgs/summer-breeze-banner.png")
}

#uncommon-nights {
    background-image: url("./main-page-imgs/uncommon-nights-banner.png")
}

#contact-us {
    margin : 5vh;
}