#bck-home{
    background-image : url("./main-page-imgs/main-page-desktop.png");
}

.events {
  width : 100%;
  /* height : 20vh; */
  height : fit-content;
  background-color : blue;
  display : flex;
  align-items : center;
  justify-items : center;
}

.events > a {
    font-size : clamp(1rem,5vw,2rem);
    margin : auto;
    text-align : center;
    padding : 40px;
}

#kuvia {
    background-image : url("./kuvia/imgs/kuvia-crown.jpg");
    background-position : center center;
}

#snowball {
    background-image : url("./snowball/imgs/snowball-2025.jpg");
    background-position : center center;
}

#bnr {
    background-color : orange;
}
/*
#kuvia {
    background-color : blue;
    /*
    https://unsplash.com/photos/trees-on-snow-covered-field-during-sunset--MrW8N9zWV4 or image in Crown
    
}

#snowball {
    background-color : pink;
}*/

#sb {
    background-color : green;
}

#uncommon-nights {
    background-color : burlywood;
}

#contact-us {
    margin : 5vh;
}