#bck-home{
    background-image : url("./main-page-imgs/main-page-desktop.png");
    background-size : 100%;
}

.events {
  width : 100%;
  /* height : 20vh; */
  height : fit-content;
  display : flex;
  align-items : center;
  justify-items : center;
}

@media(width >= 480){
    .events {
        background-size : 100%;
    }
}
@media(width < 480px){
    .events {
        background-size : 225%;
    }
}

.events > a {
    font-size : clamp(1.5rem,5vh,2rem);
    margin : auto;
    text-align : center;
    padding : 40px;
    color : white;
}

#kuvia {
    background-color: #2caee6;
    background-image : url("./main-page-imgs/kuvia-banner.png")
}

#snowball {
    background-color : #473168;
    background-image: url("./main-page-imgs/snowball-banner.png")
}

#bnr {
    background-color: #f17a10;
    background-image: url("./main-page-imgs/bnr-banner.png")
}

#sb {
    background-color: #0e8541;
    background-image: url("./main-page-imgs/summer-breeze-banner.png")
}

#uncommon-nights {
    background-color: #ab1035;
    background-image: url("./main-page-imgs/uncommon-nights-banner.png")
}

#contact-us {
    margin : 5vh;
}